<a href="https://colab.research.google.com/github/zedslashh/CodeBites/blob/main/LabExperiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SELECTION AND ITERATION OPERATIONS**

1.Get an integer input from user.If the number is odd,then find the factorial of the number and find the number of digits in the factorial of the number.If the number is even,then check if given number is palindrome or not

In [ ]:
num=int(input("Enter a number:"))
if num%2!=0:
  fact=1
  for i in range(2,num):
    fact*=num
  print("The factorial of the number is:",fact)
  count=0
  while fact!=0:
    fact//=10
    count+=1
  print("The number of digits in factorial is:",count)

else:
  temp=num
  rev=0
  while temp!=0:
    digit=temp%10
    rev=rev*10+digit
    temp//=10
  if num==rev:
    print("The number is a palindrome")
  else:
    print("The number is not a palindrome")

Enter a number:242
The number is a palindrome

**STRING AND ITS OPERATIONS**

2.Given two strings.print yes or no,whether the second string can be obtained from the first by deletion of none,one or more characters

In [ ]:
str1=input("Enter a string:")
str2=input("Enter another string:")
count=0
for i in range(0,len(str2)):
  if str2[i] in str1:
    count+=1
if count>=len(str2):
  print("Yes")
else:
  print("No")

Enter a string:oncemore
Enter another string:one
Yes

**LIST AND ITS OPERATIONS**

3 A.Programs for positive and negative indexing

In [ ]:
list1= list(map(int, input("Enter values in the list: "). split()))

#positive indexing
print(list1[0:5])
print(list1[::])
print(list1[2:7:2])

#negative indexing
print(list1[::-1])
print(list1[-5:-1])
print(list1[-7::-2])

Enter values in the list: 1 9 8 4 5 6 3
[1, 9, 8, 4, 5]
[1, 9, 8, 4, 5, 6, 3]
[8, 5, 3]
[3, 6, 5, 4, 8, 9, 1]
[8, 4, 5, 6]
[1]

3 B.Program to check if the given list is in ascending order or not

In [ ]:
def sortedornot(list1):
  for i in range(0,len(list1)):
    for j in range(i+1):
      if list1[i]<list1[j]:
        return False
  return True
list1= list(map(int, input("Enter values in the list: "). split()))
res=sortedornot(list1)
if res==True:
  print("The list is sorted")
else:
  print("The list is not sorted")

Enter values in the list: 1 2 3 4 5 6
The list is not sorted

**TUPLES AND ITS OPERATIONS**

4 a.Python program to convert a tuple into string

In [ ]:
tup1=('w','O','r','L','d')
str1=""
for i in tup1:
  str1+=i

print("The string is:",str1)

The string is: wOrLd

4 b.Python program to reverse a tuple

In [ ]:
def revtuple(tuple1):
  revtuples=tuple1[::-1]
  print("The tuple in reverse:",revtuples)

tuple1=(1,7,6,5,3,8,9)
print("The original tuple is:",tuple1)
revtuple(tuple1)

The original tuple is: (1, 7, 6, 5, 3, 8, 9)
The tuple in reverse: (9, 8, 3, 5, 6, 7, 1)

**SET AND ITS OPERATIONS**

5.Python program to check if a set is a subset of another set

In [ ]:
a = {1, 2, 3}
b = {1, 2, 3, 4}

result=(a<=b)
if result==True:
  print("The set a is a subset of set b")
else:
  print("The set a is not a subset of set b")

The set a is a subset of set b

**DICTIONARIES AND ITS OPERATIONS**

6.Python program to iterate over dictionaries using for loops

In [ ]:
dt = {'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}

for key, value in dt.items():
    print(key,':',value)

United States : Washington D.C.
Italy : Rome
England : London

**Computations using numpy functions**

7.Numpy program to convert a list of numeric values to one dimensional numpy array

In [2]:
import numpy as np
li = list(map(int,input().split()))
a = np.array(li)
print("The Numpy Array is:",a)

1 4 3 6 7 9 2
The Numpy Array is: [1 4 3 6 7 9 2]

8.Numpy program to convert list and tuple to arrays

In [3]:
li = list(map(int,input().split()))
tu = tuple(map(int,input().split()))

a1 = np.array(li)
a2 = np.array(tu)
a12 = np.concatenate((a1,a2))
print("The combined array is:",a12)
print(type(a12))

1 2 8 5 4
4 3 2 1
The combined array is: [1 2 8 5 4 4 3 2 1]
<class 'numpy.ndarray'>

**Data manipulations using Pandas**

9.Program to convert Numpy arrays and series to dataframes

In [4]:
import numpy as np
import pandas as pd
a = np.random.rand(3)
print("Array:",a)
df1 = pd.DataFrame(a)
print("DataFrame:\n", df1,"\n", type(df1),)

s = pd.Series(a)
print("\nSeries:\n",s)
df2 = pd.DataFrame(s)
print("DataFrame:\n", df2, "\n", type(df2))

Array: [0.0245072  0.92646862 0.10616622]
DataFrame:
           0
0  0.024507
1  0.926469
2  0.106166
 <class 'pandas.core.frame.DataFrame'>

Series:
 0    0.024507
1    0.926469
2    0.106166
dtype: float64
DataFrame:
           0
0  0.024507
1  0.926469
2  0.106166
 <class 'pandas.core.frame.DataFrame'>

10.Program to add,subtract and multiply two panda series

In [5]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Addition: \n", s1 + s2)
print("Subtraction: \n", s1 - s2)
print("Multiplication: \n", s1 * s2)
print("Division: \n", s1 / s2)

Addition:
 0     3
1     6
2     9
3    12
4    15
dtype: int64
Subtraction:
 0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64
Multiplication:
 0     2
1     8
2    18
3    32
4    50
dtype: int64
Division:
 0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64